@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: black; }
body{font-family: 'GangwonEdu_OTFLightA'; line-height: 24px; min-width: 1200px;}



/* -------header1 */
#header1{
    width: 100%;
    height: ;
    text-align: center;
    position: relative;
}
/* 비디오가 꽉찬 화면으로 들어가야 하니깐.. header1은 너비 100% */
.top{
    width: 1320px;
    position: absolute; /*header1 기준*/
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}
/* 비디오 위에 겹쳐지면 안되니깐 position으로 띄우는데..!
top nav가 비디오 위에 위치해야 하니깐 z-index값을 줬다!!!*/
/* float로 띄우니깐 하얗게 배경?같은게 생겼어
너비를 줘서 그런걸까 ㅇㅅㅇ..?? */
.topnav{
    float: right;
    margin-top: 10px;
}
/* top을 띄운 상태에서 ul을 오른쪽으로 위치 시키기 위해서 여기에 float값을 줌!!
와씨............ 너무 복잡하네ㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠ */
.top a{
   color: rgba(255, 255, 255,0.5);
   font-family: 'GangwonEdu_OTFBoldA';
   font-size: 20px;
}
.topnav>li:nth-child(1):hover,.topnav>li:nth-child(2):hover,
.topnav>li:nth-child(3):hover,.topnav>li:nth-child(4):hover{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}

.topnav>li:hover>a{
    color: #333333;
    text-decoration: underline;
}
.topnav>li{
    float: left;
    padding: 10px 0;
    margin: 0 10px;
}
.topnav>li>a{
    padding: 0 20px;
}
/* 서브메뉴 만들때는 a태그에 패딩값을 넣어라..! */
.topnav>li:nth-child(4)>a{
    padding: 0 35px;
}
/* nav 글자수는 적고,
안에 들어가는 글자수가 많아서 hover할 때마다
쿰찔쿰찔 해서 여기에만 padding값을 더 줬다!!ㅋㅋ */
.topnav>li:nth-child(4){
    margin-right: 80px;
}
/* login이랑 떨어뜨려주려고 margin으로 여백 줌 */
.topnav>li:nth-child(5) a, .top li:nth-child(6) a, .top li:nth-child(7) a{
    font-size: 15px;
    padding: 10px 5px;
    color: #333333;
    font-size: 18px;
}
video{
    width: 100%;
    position: relative;
    z-index: 95;
}
.text{
    position: absolute; /*header1 기준*/
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
    color: white;
    z-index: 96;
}
.text p{
    padding-top: 200px;
    padding-bottom: 80px;
    font-size: 22px;
    font-family: ;
    z-index: 96;
}

/* -------top sub 서브메뉴 만들기!! */
.topsub li a{
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #333333;
    font-family: 'NanumBarunGothic';
    font-size: 13px;
}
.topsub li a:hover{
    font-weight: bold;
    font-size: 14px;
}
.topsub{ /*서브메뉴 안보이게 하기!*/
    display: none;
}
/*서브메뉴 보이게 하기!!!
    display: block;*/


/* -------maintop */
#maintop{
    width: 1320px;
    height: 25px;
    margin: auto;
    margin-top: 5px;
}
#maintop ul{
    float: right;
}
#maintop li{
    float: left;
}
#maintop li a{
    font-size: 15px;
    padding: 0 25px;
    color: #333333;
    font-size: 18px;
}
#maintop li a:hover{
    text-decoration: underline;
}

/* -------header2 */
#header2{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 90;

}
.header_inner{
    width: 1050px;
    margin: 10px auto;
}
.header_inner .logo{
  float: left;
}
.header_inner .nav{
    float: right;
}
.nav>li{
    float: left;
    padding: 20px 25px 5px 25px;
}
.nav>li:hover{
    background: url(../images/nav_hover_marimo.png) no-repeat center top;
}
.nav>li>a{
    width: 180px;
    padding: 20px 0;
    margin: 0 20px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 20px;
}
.nav>li:last-child{
    margin-right: 100px;
}
/* -------메인네비 서브메뉴 만들기! */
.mainsub{
    background-color: white;
    width: 100%;
    position: absolute;
    /* 여기의 기준은 뭐가 되는거지..? */
    left: 0;
    display: none;
}
.mainsub a{
    font-family: 'NanumBarunGothic';
}
.mainsub div{
    width: 1320px;
    margin: auto;
    height: 200px;
} 
.mainsub ul{
    float: left;
    width: 155px;
    margin-top: 10px;
}
.mainsub li {
    padding: 10px 0;
}
.mainsub div ul:nth-child(1){
  margin-left: 430px;
  margin-right: 20px;
}
.mainsub div ul:nth-child(3){
    margin-left: 13px;
    margin-right: 15px;
}

/* -------메인메뉴 서브 보이게 하기! 
display: block 은 제이쿼리 해줘야 해서 여기서 없애줌!!*/

.mainsub li a:hover{
    background-color: #80d8cc;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
}

/* -------컨텐츠 시작~~ */
/* 박스 1 - 이번주소식*/
#box1{
    clear: both;
    width: 1320px;
    height: 635px;
    margin: auto;
    margin-top: 230px;
    margin-bottom: 50px;
    text-align: center;
}
.new{
    transition: all 0.3s;box-sizing: border-box;
    border: white solid 20px;

}
#box1 .new:hover{
    border: #febcc4 solid 20px;
    border-radius: 30px;
    
}

/* 박스 2 - 인기소식*/
#box2{
    background-color: #0f4164;
    width: 100%;
    text-align: center;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}
.box2_inner{
    width: 1320px;
    margin: 30px auto;
    text-align: center;
}
.box2_inner img{
    width: 209px;
    height: 48px;
}
#box2 p{
    font-family: 'NanumBarunGothic';
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: solid 2px rgb(148, 148, 148);
}
#box2 .whitebox1{
    /* 포토 */
    width: 1320px;
    height: 810px;
    margin: auto;
    text-align: left;
    background: url(../images/box2_bg1-1.png) no-repeat center top;
}
#box2 .whitebox2{
    /* 비디오 */
    width: 1320px;
    height: 800px;
    margin: auto;
    text-align: left;
    background: url(../images/box2_bg2-2.png) no-repeat center top;
}
.thumbnail1,.thumbnail2{
    margin: auto;
    width: 1050px;
    height: 800px;
    padding-top: 100px;
    padding-left: 48px;
}
.thumbnail1 li, .thumbnail2 li{
    float: left;
    overflow: hidden;
}
/* 포토 화이트 박스 여백값 */
.thumbnail1 li:nth-child(1),
.thumbnail1 li:nth-child(2){
    margin-left: 28px;
    border-radius: 10px;
}
.thumbnail1 li:nth-child(3),
.thumbnail1 li:nth-child(4),
.thumbnail1 li:nth-child(5),
.thumbnail1 li:nth-child(6),
.thumbnail1 li:nth-child(7),
.thumbnail1 li:nth-child(8),
.thumbnail1 li:nth-child(9),
.thumbnail1 li:nth-child(10),
.thumbnail1 li:nth-child(11),
.thumbnail1 li:nth-child(12){
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 10px;
}

/* 비디오 화이트 박스 여백값 */
.thumbnail2 li:nth-child(4),
.thumbnail2 li:nth-child(5),
.thumbnail2 li:nth-child(6){
    padding-top: 20px;
}
.thumbnail2 li:nth-child(2),
.thumbnail2 li:nth-child(5){
    margin: 0 15px;
}
/* 포토 사진 호버 */
.thumbnail1 li a img:hover{
    transform: scale(1.1, 1.1);
}
.thumbnail1 li a img{
    transition: all 0.5s;
    display: block;
}
.pinktag li{
    float: left;
    color: white;
    background-color: rgba(254, 188, 196,1);
    margin-top: 5px;
    padding: 1px 6px;
    border-radius: 50px;
}
.pinktag li:nth-child(2){
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
}
.hotmore{
    text-align: center;
    display: inline-block;
    background-color: #80d8cc;
    color: white;
    padding: 25px 15px;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    bottom: 120px;
    z-index: 5;
}
.hotmore_shadow{
    text-align: center;
    display: inline-block;
    padding: 3px 25px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    right: 157px;
    bottom: 100px;
    border-radius: 70%;
    z-index: 5;
}
.hotmore:hover{
    background-color: #2ab19f;
}

.bubble{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
}
span{
    display: block;
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    animation: bubble 15s ease-in-out infinite;
}
.bubble span:nth-child(1){
    width:40px;
    height: 40px;
    left:0%;
    animation-duration: 15s;
}
.bubble span:nth-child(2){
    width:20px;
    height: 20px;
    left:10%;
    animation-duration: 15s;
    animation-delay:1s;
}
.bubble span:nth-child(3){
    width:50px;
    height: 50px;
    left:20%;
    animation-duration: 17s;
    animation-delay:2s;
}
.bubble span:nth-child(4){
    width:80px;
    height: 80px;
    left:40%;
    animation-duration: 14s;
    animation-delay:0s;
}
.bubble span:nth-child(5){
    width:35px;
    height: 35px;
    left:50%;
    animation-duration: 13s;
    animation-delay:1s;
}
.bubble span:nth-child(6){
    width:45px;
    height: 45px;
    left:60%;
    animation-duration: 15s;
    animation-delay:3s;
}
.bubble span:nth-child(7){
    width:25px;
    height: 25px;
    left:70%;
    animation-duration: 14s;
    animation-delay:2s;
}
.bubble span:nth-child(8){
    width:80px;
    height: 80px;
    left:80%;
    animation-duration: 13s;
    animation-delay:1s;
}
    
@keyframes bubble{
    0%{
        bottom:-100px;
        transform: translateX(0);
    }
    35%{
        transform: translateX(100px);
    }
    70%{
        transform: translateX(200px); 
    }
    100%{
        bottom:110%;
        transform: translateX(0);
    }
}

/* 박스 3 */

#box3{
    width: 1320px;
    height: 700px;
    margin: auto;
    position: relative;
}
.marimo_left{
    float: left;
    width: 650px;
    height: 200px;
}
.marimo_right{
    font-family: 'NanumBarunGothic';
    font-size: 18px;
    line-height: 30px;
    float: right;
    padding-top: 50px;
    padding-right: 110px;
    width: 600px;
    text-align: center;
}
.marimo_right ul li{
    float: left;
    margin-left: 20px;
}
.marimo_right ul{
    margin-left: 120px;
}
.moreblue{ /*더 알아보기*/
    background-color:#307cbf ;
}
.moreblue:hover{
    background-color:#235c8f ;
}
.morepink{ /*정기구독 바로가기*/
    background-color:rgb(88, 201, 186) ;
}
.morepink:hover{
    background-color:#2ab19f;
}
.marimo_right li a{
    display: inline-block;
    padding: 10px 18px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}
.marimo_left img:nth-child(1){ /*말풍선*/
    position: absolute;
    top: 50px;
    left: 36%;
}
.marimo_left img:nth-child(2){ /*마리모*/
    position: absolute;
    top: 270px;
    left: 26%;
    z-index: 3;
    animation: fly_marimo  2.5s  infinite;
}
@keyframes fly_marimo{
    0%{bottom: 0px;
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{bottom: 0px;
        transform: translateY(0);}
}
.marimo_left p:nth-child(3){ /*그림자*/
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 12px 60px;
    border-radius: 100%;
    position: absolute;
    bottom: 160px;
    left: 29.8%;
    z-index: 3;
    animation: fly_shadow 2.5s infinite;
}
@keyframes fly_shadow{
    0%{transform: scaleX(0.9);
    }
    50%{transform: scaleX(1);}
    100%{transform: scaleX(0.9);}
}
.pinkbox{
    background-color: #febcc4;
    width: 1300px;
    height: 150px;
    position: absolute;
    bottom: 120px;
    left: -600px;
}
.marimo_right .mintpen{
    display: inline-block;
    background: linear-gradient(to bottom, white 50%, rgba(88, 201, 186,0.7) 50%);
}
.marimo_right b{
    display: inline-block;
    background: linear-gradient(to bottom, white 50%, rgba(254, 188, 196,0.7) 50%);
}

/* 박스 4 */
#box4{
    width: 100%;
    height: 700px;
    background: url(../images/box4_bg.jpg)  center top;
}
.box4_inner{
    background: url(../images/box4_question.jpg) no-repeat center top;
    width: 1320px;
    height: 700px;
    margin: auto;
    position: relative;
}
.box4_inner a{
    display: inline-block;
    padding: 25px ;
    background-color: white;
    color: #307cbf;
    font-size: 35px;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    right: 170px;
    bottom: 120px;
}
.answer_img{
    background: url(../images/box4_answer.jpg);
    width: 1320px;
    height: 700px;
}
.box4_inner a:hover{
    box-shadow: 8px 8px 8px #febcc4 ;
    transform: translate(-3px ,-3px)  ;    
}


/* 박스 5 */
#box5{
    width: 1320px;
    height: 650px;
    margin:50px  auto;
}
.box5_left{
    float: left;
    background: url(../images/box5_freedownload.png) no-repeat center top;
}
.box5_right{
    float: right;
    background: url(../images/box5_marimostore.png)no-repeat center top;
}
.box5_left, .box5_right{
    width: 500px;
    height: 400px;
    padding-left: 85px;
    margin-top: 110px;
    position: relative;
}
.box5_left a{
    top: 250px;
    left: 150px;
    background-color: #2ab19f;
}
.box5_right a{
    top: 150px;
    right: 90px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    background-color: #febcc4;
}
.box5_left a, .box5_right a{
    display: inline-block;
    padding: 15px 20px;
    border-radius: 40px;
    box-shadow: 2px 5px 3px #999 ;
    color: white;
    font-size:18px;
    font-family: 'NanumBarunGothic';
    position: absolute;
    transition: all 0.3s;
}
.box5_left a:hover, .box5_right a:hover{
    box-shadow:  0.5px 0.5px 0.5px #999 ;
    
    transform: translate(2px,5px);
}
.box5_left img{
    /*무료다운 노트북*/
    position: absolute;
    top: 250px;
    left: 300px;
    z-index: 3;
    animation: fly_computer  2s  infinite;
}
@keyframes fly_computer{
    0%{bottom: 0px;
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{bottom: 0px;
        transform: translateY(0);}
}

.box5_right img:nth-child(1){
    /*스토어 티셔츠*/
    position: absolute;
    top: -80px;
    left: 30px;
    z-index: 3;
    animation: fly_t  2.5s  infinite;
}
@keyframes fly_t{
    0%{bottom: 0px;
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{bottom: 0px;
        transform: translateY(0);}
}

.box5_right img:nth-child(2){
    /*스토어 컵*/
    position: absolute;
    top: 230px;
    left: -20px;
    z-index: 3;
    animation: fly_cup  2.5s  infinite;
}
@keyframes fly_cup{
    0%{bottom: 0px;
        transform: translateY(0);
    }
    20%{
        transform: translateY(3px);
    }
    60%{
        transform: translateY(6px);
    }
    100%{bottom: 0px;
        transform: translateY(0);}
}
/* 마지막 footer!!! */
#footer{
    width: 100%;
    background: url(../images/footer_bg.jpg);
    height: 350px;
}
.footer_inner1{
    width: 1320px;
    margin: auto;
    padding-top: 50px;
}
.footer_inner1 ul> li> a>img{
    opacity: 0.5;
}
.footer_inner1 ul> li> a>img:hover{
    opacity: 1;
}
.footer_inner1 ul{
    float: right;
}
.footer_inner1 li, .footer_inner2 li{
    float: left;
    margin-left: 15px;
}
.footer_inner2{
    width: 650px;
    height: 300px;
    margin: auto;
    text-align: center;
    color: #41505b;
    font-size: 15px;
    font-weight: 600;
    font-family: 'NanumBarunGothic';
}
.footer_inner2 p{
    margin: 30px 0;
}
.footer_inner2 li:last-child{
    padding-right: 120px;
}
.footer_inner2 a{
    color: #4e6270;
    font-family: 'NanumBarunGothic';
}
.footer_inner2 a:hover{
    color: #5c7486;
}


/* 진짜 마지막!! 탑버튼!!! */
.topbutton{
    position:fixed; 
    bottom:50px; 
    right:50px; 
    display:none;
  }
