@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: black; }
body{font-family: 'GangwonEdu_OTFLightA'; line-height: 24px; min-width: 1400px;}


/* -------maintop */
#maintop{
    width: 1320px;
    height: 25px;
    margin: auto;
    margin-top: 5px;
}
#maintop ul{
    float: right;
}
#maintop li{
    float: left;
}
#maintop li a{
    font-size: 15px;
    padding: 0 25px;
    color: #333333;
    font-size: 18px;
}
#maintop li a:hover{
    text-decoration: underline;
}

/* -------header2 */
#header2{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 90;
 
}
.header_inner{
    width: 1050px;
    margin: 10px auto;
}
.header_inner .logo{
  float: left;
}
.header_inner .nav{
    float: right;
    width: 758px;
}
.nav>li{
    float: left;
    padding: 20px 25px 5px 25px;
}
.nav>li:hover{
    background: url(../images/nav_hover_marimo.png) no-repeat center top;
}
.nav>li>a{
    width: 180px;
    padding: 20px 0;
    margin: 0 20px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 20px;
}
.nav>li:last-child{
    margin-right: 100px;
}
/* -------메인네비 서브메뉴 만들기! */
.mainsub{
    background-color: white;
    width: 100%;
    position: absolute;
    /* 여기의 기준은 뭐가 되는거지..? */
    left: 0;
    top: 90px;
    display: none;
}
.mainsub a{
    font-family: 'NanumBarunGothic';
}
.sub{
    width: 1050px;
    margin: auto;
    height: 200px;
} 
.sub_inner{
    width: 668px;
    float: right;
    margin-right: 94px;
}
.mainsub ul{
    float: left;
    margin-top: 10px;
}
.mainsub ul:nth-child(1){
    width: 25%;
}
.mainsub ul:nth-child(2){
    width: 26%;
}
.mainsub ul:nth-child(3){
    width: 27%;
}
.mainsub ul:nth-child(4){
    width: 21%;
}
.mainsub li {
    padding: 10px 0;
}


/* -------메인메뉴 서브 보이게 하기! 
display: block 은 제이쿼리 해줘야 해서 여기서 없애줌!!*/

.mainsub li a:hover{
    background-color: #80d8cc;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
}

/* --모든 페이지 공통!!!--- */


/* 서브페이지4 스토어 내용 시작!! */
/* 박스 1  */
#box1{
    /* 에프터 이펙트 */
    width: 100%;
    height: 775px;
    text-align: center;
}
#box1 video{
        width: 100%;
        display: block;
}
#box1 a{
    display: block;
}

/* 박스 2 - 지난 매거진 */
#box2{
    width: 100%;
    height: 650px;
    background-color: #f6f6f6;
}
.box2_inner{
    width: 1320px;
    margin: auto;
    text-align: center;
}
.box2_inner img{
    display: inline-block;
}
.box2_inner>img{
    margin: 60px 0;

}
.box2_inner ul li{
    float: left;
    margin-left: 70px;
}
.box2_inner ul li:nth-child(1){
    margin-left: 190px;
    margin-top: 11px;
}
.box2_inner li{
    text-align: left;
}
.box2_inner li h5{
    font-family: 'NanumBarunGothic';
    font-weight: normal;
    font-size: 14px;
    margin: 10px 0;
}
.box2_inner li p{
    color: #5397cd;
    font-weight: bold;
    font-size: 20px;
}
.box2_inner li b{
    color: gray;
    font-weight: normal;
    font-size: 12px;
    font-family: 'NanumBarunGothic';
    text-decoration:line-through;
}

.box2_inner li:hover h5{
    font-weight: bold;
}
.box2_inner li:hover p{
    color: red;
}


/* 박스 3 - 신상품  */
#box3{
    width: 1320px;
    height: 700px;
    margin: auto;
    position: relative;
}
#box3>img{
    float: left;
    margin-top: 125px;
}
#box3>p{
    position: absolute;
    top: 200px;
    left: 20px;
    font-family: 'NanumBarunGothic';
}
#box3 ul img{
    position: relative;
    top: -3px;
}
#box3 ul li{
    height: 530px;
    float: left;
    text-align: center;
    margin-top: 80px;
    margin-left: 70px;
    position: relative;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 145px;
}
.black{
    background-color: rgba(0, 0, 0, 0.6);
    width: 279px;
    height: 279px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 2;
    border-radius: 50%;
    transition: all 1s;
    opacity: 0;
}
.black a{
    text-align: center;
    color: white;
    display: inline-block;
    border: 2px white solid;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 120px;
}
/* black 박스 호버시 등장! */
#box3 ul li:hover .black{
    opacity: 1;
}
#box3 li h2{
    display: inline-block;
    transform: rotate(330deg);
    color: #01dcc0;
    font-weight: bold;
    margin: 10px 0;
    position: absolute;
    top: 276px;
    left: 65px;
}
#box3 li h1{
    display: inline-block;
    margin-top: 20px;
    top: 276px;
    left: 65px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: bold;
    font-size: 25px;
    color: #191919;
}
.red{
    font-weight: bold;
    color: #ee6f7e;
}

#box3 li b{
    color: gray;
    font-size: 13px;
    text-decoration:line-through;
}
#box3 li p{
    font-family: 'NanumBarunGothic';
    margin-bottom: 25px;
    line-height: 25px;
}

/* 박스 4 - 노란색 정기구독 배너 */
#box4{
    width: 100%;
    background: url(../images/sub4_box4_yellow_bg.png) no-repeat center top;
}
.box4_inner{
    width: 800px;
    height: 210px;
    margin: auto;
}
.box4_inner div:first-child,
.box6_inner div:last-child{
    float: left;
    font-size: 30px;
    margin-top: 85px;
}
.box4_inner div:first-child p{
    color: #ff4848;
    font-size: 15px;
    font-family: 'NanumBarunGothic';
    padding-top: 10px;
}
.box6_inner div:last-child p{
    color: white;
    font-size: 15px;
    font-family: 'NanumBarunGothic';
    padding-top: 10px;
}
.box4_inner div:last-child,
.box6_inner div:first-child{
    float: right;
    margin-top: 10px;
}

/* 박스 5 - 베스트 상품 */
#box5{
    width: 1320px;
    height: 1350px; /*임의값*/
    margin: auto;
    text-align: center;
}
#box5>img{
    margin-top: 60px;
}
#box5 p{
    font-family: 'NanumBarunGothic';
}

#box5 ul li{
    float: left;
    position: relative;
    height: 460px;
    width: 248px;
    margin-left: 62px;
    margin-top: 100px;
    overflow: hidden;
    transition: all 1s;
}
#box5 ul li h2{
    /* 상품명 */
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
}
#box5 ul li p{
    /* 상품 설명 */
    text-align: left;
    margin: 10px 0 10px 20px;
    font-size: 14px;
}
#box5 ul li h3{
    /* 상품금액 */
    color:#5397cd;
    text-align: right;
    font-size: 20px;
    margin-right: 20px;
}
#box5 ul li span{
    display: inline-block;
    text-align: right;
    padding: 2px 7px;
    color: white;
    border-radius: 20px;
    font-size: 13px;
    margin-top: 10px;
}
#box5 ul li .delivery{
    /* 무료배송 */
    background-color: #e47d7d;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
#box5 ul li .donation{
    /* 10%기부 */
    background-color: #5aaca9;
    position: absolute;
    bottom: 10px;
    right: 70px;
}
#box5 ul li div{
    width: 248px;
    height: 248px;
    position: absolute;
    top: -3px;
    left: 20px;
    opacity: 0;
}
#box5 ul li:hover div{
   transform: rotate(-90deg);
   transition: all 1s;
   opacity: 1;
}
#box5 ul li:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transform: translate(-5px,-5px);
}




/* 박스 6 - 핑크색 무료 다운로드 배너 */
#box6{
    text-align: left;
    width: 100%;
    background: url(../images/sub4_box6_pink_bg.png) no-repeat center top;
}
.box6_inner{
    width: 850px;
    height: 225px;
    margin: auto;
}

/* 박스 7 - 오프라인 매장 위치 */
#box7{
    width: 1320px;
    height: 500px;
    margin: 60px auto;
    position: relative;
}
#box7>img{
    display: block;
    float: left;
    height: 55px;
    width: 250px;
    margin-top: 20px;
}
#box7>p{
    position: absolute;
    height: 72px;
    width: 240px;
    top: 85px;
    left: 20px;
    font-family: 'NanumBarunGothic';
}
#box7 ul{
    float: left;
    width: 230px;
    height: 471px;
    margin-top: 20px;
    margin-left: 130px;
}
#box7 ul li{
    width: 230px;
    height: 117px;
    margin-bottom: 30px;
}
#box7 li:nth-child(1) h2,
#box7 li:nth-child(2) h2,
#box7 li:nth-child(3) h2{
    display: inline-block;
    padding: 15px 20px;
    color: white;
    border-radius: 30px 30px 30px 0;
    margin-bottom: 15px;
}
#box7 li:nth-child(1) h2{
    background-color: #68cad5;
}
#box7 li:nth-child(2) h2{
    background-color: #2ea5bf;
}
#box7 li:nth-child(3) h2{
    background-color: #307cdf;
}
#box7 li p{
    padding-left: 20px;
    margin-bottom: 40px;
    font-family: 'NanumBarunGothic';
}
#box7 .marimo{
    display: block;
    float: left;
    width: 491px;
    height: 416px;
    margin-left: 130px;
}


/* 마지막 footer!!! */
#footer{
    width: 100%;
    background: url(../images/footer_bg.jpg);
    height: 350px;
}
.footer_inner1{
    width: 1320px;
    margin: auto;
    padding-top: 50px;
}
.footer_inner1 ul> li> a>img{
    opacity: 0.5;
}
.footer_inner1 ul> li> a>img:hover{
    opacity: 1;
}
.footer_inner1 ul{
    float: right;
}
.footer_inner1 li, .footer_inner2 li{
    float: left;
    margin-left: 15px;
}
.footer_inner2{
    width: 650px;
    height: 300px;
    margin: auto;
    text-align: center;
    color: #41505b;
    font-size: 15px;
    font-weight: 600;
    font-family: 'NanumBarunGothic';
}
.footer_inner2 p{
    margin: 30px 0;
}
.footer_inner2 li:last-child{
    padding-right: 120px;
}
.footer_inner2 a{
    color: #4e6270;
    font-family: 'NanumBarunGothic';
}
.footer_inner2 a:hover{
    color: #5c7486;
}

/* 진짜 마지막!! 탑버튼!!! */
.topbutton{
    position:fixed; 
    bottom:50px; 
    right:50px; 
    display:none;
  }
